<ion-header>
  <ion-navbar>
    <ion-title>Riwayat</ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="list-avatar-page">
  <ion-list>


    <ion-item  *ngFor = "let list of log">
      <ion-avatar item-start>
        <img [src]="list.picture">
      </ion-avatar>
      <h2>{{list.nama}}</h2>
      <div style="white-space : nowrap;" *ngIf="list.show" (click)="expand(list)" >
      <p><span style="color: #c75b39">{{list.penyewa}}</span> memesan ruangan untuk tanggal <span style="color: #c75b39">{{list.tanggal}}</span>
        pada pukul <span style="color: #c75b39">{{list.waktu}}</span></p>
        <p>...</p>
      <p>{{list.status}}</p>
      <ion-note item-end>{{list.history_date}}</ion-note>
    </div>
    <div style="white-space : normal;" *ngIf="list.show == false" (click)="expand(list)" >
    <p><span style="color: #c75b39">{{list.penyewa}}</span> memesan ruangan untuk tanggal <span style="color: #c75b39">{{list.tanggal}}</span>
      pada pukul <span style="color: #c75b39">{{list.waktu}}</span></p>
    <p>{{list.status}}</p>
  </div>
    </ion-item>
  </ion-list>
  <button (click)="refresh()">Refresh</button>

</ion-content>
