page-booking {

}
#btn:active {
    width: 120px;
    height: 120px;
}

.centerr {
    height: 100%;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.vertical-align-content > *
{
     display: flex!important;
     align-content: center!important;
     align-items: center!important;
}