<!--
  Generated template for the StudentLoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Login Mahasiswa</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label floating>Username</ion-label>
      <ion-input type="text" [(ngModel)]="userData.username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="{{type}}" [(ngModel)]="userData.password"></ion-input>
     
 <button *ngIf="!showPass" ion-button clear color="dark" type="button" item-end (click)="showPassword()"  style="height:32px;"> 
   <ion-icon name="ios-eye-off-outline" style="font-size:32px;"></ion-icon></button>
 <button *ngIf="showPass" ion-button clear color="dark" type="button" item-end (click)="showPassword()"  style="height:32px;"> 
   <ion-icon name="ios-eye-outline" style="font-size:32px;"></ion-icon></button>
    </ion-item>
  <br><br>
    <button ion-button block (click)="postRequest()">Login</button><br>
    <button ion-button block (click)="register()">Create New Account</button>
  </ion-list>
</ion-content>
